@font-face {
  font-family: 'Amiri';
  src: url('./fonts/Amiri-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amiri';
  src: url('./fonts/Amiri-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}